.categories-info {
  padding: 120px 0;
  background-image: url('../images/decor/categories-left-bg.png');
  background-repeat: no-repeat;
  background-position: center left;

  &__inner {
    background-image: url('../images/decor/categories-right-bg.png');
    background-repeat: no-repeat;
    background-position: center right;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
  position: relative;

  &:before,
  &:after {
    content: '';
    position: absolute;
    z-index: -1;
  }

  &:before {
    background-image: url('../images/decor/left.png');
    top: -45px;
    left: -45px;
    width: 120px;
    height: 121px;
  }

  &:after {
    background-image: url('../images/decor/right.png');
    right: -11px;
    bottom: -23px;
    width: 65px;
    height: 52px;
  }

  &__item {
    padding: 60px 30px;
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
    width: 370px;
    background-color: $white;

    &-title {
      margin: 35px 0 10px;
      color: $title;
      font-size: 22px;
      @extend %roboto-400;
    }
  }
}

.categories {

  &__items {
    display: grid;
    min-height: 635px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
  }

  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 35px 0 0 40px;

    &:nth-child(1) {
      grid-area: span 2;

      .categories__item-subtitle,
      .categories__link:hover {
        color: #5800e4;
      }
    }

    &:nth-child(2) {
      grid-column: span 2;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-top: 0;

      .categories__item-subtitle,
      .categories__link:hover {
        color: $accent;
      }
    }

    &:nth-child(3) {

      .categories__item-subtitle,
      .categories__link:hover {
        color: #ffb534;
      }
    }

    &:nth-child(4) {

      .categories__item-subtitle,
      .categories__link:hover {
        color: #34c3ff;
      }
    }

    &-subtitle {
      margin-bottom: 5px;
    }

    &-title {
      font-size: 22px;
      color: $title;
      margin-bottom: 16px;
    }
  }

  &__link {
    text-transform: uppercase;
    color: $title;
    @extend %roboto-400;
  }
}

@media (max-width: 1200px) {
  .categories-info {
    padding: 70px 0;  
  }

  .info {
    margin-bottom: 70px;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;

    &__item {

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}

@media (max-width: 992px) {
  .info {

    &__item {
      padding: 40px 30px;
    }
  }

  .categories {

    &__items {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }

    &__item {
      background-position: center top;

      &:nth-child(1) {
        grid-row: auto;  
      }

      &:nth-child(2) {
        grid-column: auto;  
        background-position: center right;
      }
    }
  }
}

@media (max-width: 768px) {
  .info {

    &__item {
      padding: 30px 20px;

      svg {
        display: flex;
        margin: 0 auto;
      }
    }
  }

  .categories {

    &__items {
      min-height: 385px;
    }

    &__item {
      background-image: none !important; 
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 15px 0;

      &-title {
        font-size: 20px;
      }

      &:nth-child(1) {
        background-color: #eedeef;
      }

      &:nth-child(2) {
        background-color: #deeeef;
      }

      &:nth-child(3) {
        background-color: #fef6a9;
      }

      &:nth-child(4) {
        background-color: #ececec;
      }
    }
  }
}

@media (max-width: 576px) {
  .info {

    &__item {

      &-title {
        font-size: 20px;
        margin: 20px 0 10px;
      }
    }
  }

  .categories {

    &__items {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 10px;
    }

    &__item {
      padding: 15px 10px;

      &:nth-child(2) {
        padding-top: 15px;
      }
    }
  }
}